@import "tailwindcss";

@theme {
  --color-brand: #378ADD;
  --color-positive: #1D9E75;
  --color-caution: #EF9F27;
  --color-negative: #E24B4A;
}

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
